__pycache__/
*.py[cod]
*.class
.env
.venv
env/
venv/
experiments/
*.pt
wandb/
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
benchmark*results*.json
benchmarking*results*.json
*_results.json
*_results.jsonl
cache/
.cache/
scripts/benchmark_results
benchmark_results/
copa_*